*{
  margin:0;
  padding: 0;
}
div {
  display: block;
  unicode-bidi: isolate;
}

.kotak1{
  background : #3259ab;
  color : white;
  height: 250px;
  margin-top: 20px;
  padding-top: 80px;
  padding-left: 1cap
}

.judul{
  text-align: center;
  margin-top: 35px;
  font-size: 46px;
  color: orange;
}
.peta{
  justify-content: left;
  padding-left: 135px;
  align-items : left;
  display: flex;
  text-align: left;
}
