.kotak1 {
  background: #3259ab;
  color: white;
  height: 250px;
  margin-top: 10px;
  padding-top: 80px;
  padding-left: 135px;
  padding-bottom: 80px;
}

.judul {
  text-align: center;
  margin-top: 35px;
  font-size: 46px;
  color: orange;
}

.peta {
  margin-top: 40px;
  margin-bottom:40px;
  justify-content: left;
  padding-left: 135px;
  display: flex;
  text-align: left;
}