.kotak1 {
  background-image: image("assets/images/carousel-1 (1).jpg");
  background: #3259ab;
  color: white;
  height: 250px;
  padding-top: 80px;
  padding-left: 135px;
  padding-bottom: 80px;
}
.judul {
  text-align: left;
  padding-left: 450px;
  margin-top: 35px;
  font-size: 46px;
  color: orange;
}

.peta {
  margin-top: 80px;
  margin-bottom:40px;
  justify-content: left;
  padding-left: 135px;
  padding-right: 130px;
  display: flex;
  text-align: left;
  padding-bottom: 80px;
  padding-top: 80px;
}

.penutup{
  padding-top: 80px;

}
