/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

#home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
}

/*Pilih Paketmu*/
.pilih-paket {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.pilih-paket h5,
.pilih-paket h1 {
  margin: 0;
}

/* Set full height for sections */
section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style footer */
footer {
  padding: 10px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: #437fc7;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.footer.p {
  background-color: #437fc7 !important;
}

footer.visible {
  opacity: 1;
}

/* Style content */
h1,
h2,
p {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #437fc7;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff;
}

.logo img {
  height: 20px;
  width: auto;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .navbar-links a {
  color: #0073ff;
  padding: 10px;
  font-size: 20px;
  margin-left: 0 20px;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
}

.dropdown-item {
  padding: 8px 12px;
  color: #333;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

/*card body*/
.card {
  border-radius: 2em !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  width: calc(50% - 10px);
  margin-right: 40px;
  background-color: #ffffff !important;
  margin-bottom: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease in out !important;
}

.card:hover {
  transform: scale(1.05) !important;
  box-shadow: 5px 5px 10px #727272;
}

/*image card*/
.card-img-top {
  text-align: left;
  background-color: #ffffff;
}

.card-text {
  font-size: 30px;
  font-weight: bold;
  color: #0073ff; /* Warna teks biru */
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #333;
}

.card-subtitle {
  font-size: 15px;
  margin-bottom: 7px;
  color: #555;
}

/*card button*/
.btn.btn-primary {
  border-radius: 2em;
  background-color: #0073ff;
  color: #fff; /* Warna teks putih */
  font-size: 14px;
  text-decoration: none;
}

.card-body {
  background-color: #ffffff;
}

.card-info {
  font-size: 14px;
  color: #888; /* Warna teks abu-abu */
  margin-top: 7px;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  height: 75vh;
}

.accordion-item {
  width: 70%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.kotak1 {
  background: #3259ab;
  color: white;
  height: 250px;
  margin-top: 20px;
  padding-top: 80px;
  padding-left: 1cap;
}

.judul {
  text-align: center;
  margin-top: 35px;
  font-size: 46px;
  color: orange;
}

.peta {
  justify-content: left;
  padding-left: 135px;
  align-items: left;
  display: flex;
  text-align: left;
}

.about {
  text-align: center;
  color: white;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 10px;
}

.margin-top {
  margin-top: 10px;
}

.block1 {
  height: 300px;
  background-color: green;
  border: 5px solid #f0f0f0;
}

.empty-block {
  height: 150px;
}

.block2 {
  height: 300px;
  background-color: red;
  border: 5px solid #f0f0f0;
}

.block-contain {
  height: 620px;
}

about.row_margin-top.col-sm-4_block1 {
  height: 100px;
}

.modal-content {
  border-radius: 1.5em !important;
}

.btn.btn-secondary {
  border-radius: 2em;
}

.nav-item {
  padding-left: 20px;
}/*# sourceMappingURL=style.css.map */